{% from "webshop/templates/includes/cart/cart_macros.html" import show_address %}

<div class="mb-3 frappe-card p-5">
	<div class="d-flex">
		<div class="col-6 address-header"><h6>{{ _("Customer") }}</h6></div>
	</div>
	<div class="row no-gutters">
		<div class="w-100 address-container" data-customer-name="{{customer.name}}" data-active>
			{% include "templates/includes/cart/customer_card.html" %}
		</div>
	</div>
	<div class="mb-3">
		<div class="row no-gutters">
			<input type="text" class="txtmobilenumber form-control mr-3 w-50 font-md" placeholder="Nhập tên hoặc sđt" name="txtmobilenumber"  ></input>
			<button class="btn btn-primary btn-sm bt-search-customer font-md">{{ _("Change customer") }}</button>
		</div>
	</div>
</div>

<script>
frappe.ready(() => {
	$(".bt-search-customer").on("click", function() {
		// frappe.msgprint("Here")
		return frappe.call({
			type: "POST",
			method: "salesaz.controllers.webshop_cart.search_and_update_customer_for_webshop_cart",
			args : {
				webshop_cart_id:frappe.get_cookie("webshop_cart_id"),
				phone_number : $('.txtmobilenumber').val()
			},
			callback: function(r) {
				if (r && r.message){
					if (r.message.result == 'Found') {
						$(".customer-name").text(r.message.customer_dn);
						$(".customer-mobile-no").text(r.message.masked_mobile_number);
						location.reload();
					} else if (r.message.result == 'Not Found') {
						const d = new frappe.ui.Dialog({
							title: __('Khách hàng mới'),
							fields: [
								{
									label: __('Tên đầy đủ'),
									fieldname: 'fullname',
									fieldtype: 'Data',
									reqd: 1
								},
								{
									label: __('Số điện thoại'),
									fieldname: 'mobile_number',
									fieldtype: 'Data',
									default: $('.txtmobilenumber').val(),
									reqd: 1
								},
								{
									label: __('Loại'),
									fieldname: 'customer_type',
									fieldtype: 'Select',
									options: 'Individual\nCompany',
									default: 'Individual',
									reqd: 1
								},
							],
							primary_action_label: __('Save'),
							primary_action: (values) => {
								frappe.call({
									method: "salesaz.controllers.webshop_cart.save_and_update_customer_for_webshop_cart",
									args: {
										webshop_cart_id:frappe.get_cookie("webshop_cart_id"),
										fullname: values.fullname,
										mobile_number: values.mobile_number,
										customer_type: values.customer_type
									},
									callback: function (r) {
										if (r.message.result == 'Success') {
											$(".customer-name").text(r.message.customer_dn);
											$(".customer-mobile-no").text($('.txtmobilenumber').val());
											d.hide();
											window.location.reload();
										} else {
											frappe.msgprint(__("Something went wrong, please try again later"))
										}
									}
								});

							}
						})
						d.show();
					} else {
						console.log(r.message.customer_dns);
						// case Founds = multiple result
						const d = new frappe.ui.Dialog({
							title: __('Chọn khách hàng'),
							fields: [
								{
									label: __('Tên đầy đủ'),
									fieldname: 'fullname',
									fieldtype: 'Select',
									options: r.message.customer_dns,
									reqd: 1
								},
							],
							primary_action_label: __('Chọn'),
							primary_action: (values) => {
								frappe.call({
									method: "salesaz.controllers.webshop_cart.set_customer_for_webshop_cart",
									args: {
										webshop_cart_id:frappe.get_cookie("webshop_cart_id"),
										customer_dn: values.fullname,
									},
									callback: function (r) {
										if (r.message.result == 'Success') {
											$(".customer-name").text(r.message.customer_dn);
											$(".customer-mobile-no").text(r.message.masked_mobile_number);
											d.hide();
											window.location.reload();
										} else {
											frappe.msgprint(__("Something went wrong, please try again later"))
										}
									}
								});

							}
						})
						d.show();
					}
				}
			}
		});
	});
});
</script>