<h6>
	{{ _("Receive customer payment") }}
</h6>
<div class="card h-100">
	<div class="card-body p-0">
		{% if cart_settings.enable_checkout or cart_settings.show_price_in_quotation %}
			<table class="table w-100">
				<tr>
					<td class="bill-content net-total">{{ _("Grand Total") }}</td>
					<td class="bill-content net-total text-right">{{ doc.get_formatted("grand_total") }}</td>
				</tr>
				<tr>
					<td class="bill-label">{{ _("Already paid") }}</td>
					<!-- <td class="bill-content net-total text-right">{{ doc.get_formatted("custom_amount_already_paid") }}</td> -->
					<td class="bill-content net-total text-right">{{ frappe.utils.fmt_money(payment_request.custom_amount_already_paid, currency=payment_request.currency) }}</td>
					
				</tr>
				<tr>
					<td class="bill-label">{{ _("Remaining amount") }}</td>
					<td class="bill-content net-total text-right">{{ frappe.utils.fmt_money(payment_request.custom_remaining_payment_amount, currency=payment_request.currency) }}</td>
				</tr>
			</table>
			<input type="hidden" class="txtcustom_remaining_payment_amount" name="txtcustom_remaining_payment_amount" value="{{ frappe.utils.cint(payment_request.custom_remaining_payment_amount) }}"></input>
			<input type="hidden" class="txtcustom_require_passenger_name" name="txtcustom_require_passenger_name" value="{{ frappe.utils.cint(payment_request.require_passenger_name) }}"></input>
			<input type="hidden" class="txtgrand_total" name="txtgrand_total" value="{{ frappe.utils.cint(doc.grand_total) }}"></input>
		{% endif %}
	</div>
</div>