{% from "webshop/templates/includes/macros.html" import product_image %}

{% macro item_subtotal(item) %}
	<div>
		{{ custom_get_formatted(item.amount) }}
	</div>

	{% if item.is_free_item %}
		<div class="text-success mt-4">
			<span class="free-tag">
				{{ _('FREE') }}
			</span>
		</div>
	{% else %}
		<span class="item-rate">
			{{ _('Rate:') }} {{ custom_get_formatted(item.rate) }}
		</span>
	{% endif %}
{% endmacro %}
{% for d in doc.items %}
    <div class="row no-gutters py-3 border-bottom align-items-center" data-name="{{ d.name }}">
        
		<!-- Product Details Column (Now with nested grid) -->
        <div class="col-12 col-md-6 mb-4 mb-md-0">
            <div class="row no-gutters">
                <!-- Image Sub-column -->
                <div class="col-12 col-md-auto mr-md-4 mb-3 mb-md-0">
                    <div class="cart-item-image">
                        {% if d.thumbnail %}
                            {{ product_image(d.thumbnail, alt="d.web_item_name", no_border=True) }}
                        {% else %}
                            <div class="no-image-cart-item">
                                {{ frappe.utils.get_abbr(d.web_item_name) or "NA" }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Text & Notes Sub-column -->
                <div class="col-12 col-md">
                    <div class="item-title mb-1 font-weight-bold">
                        {{ d.get("web_item_name") or d.item_name }}
                    </div>
                    <div class="mt-2 notes">
                        <input type="text" data-item-code="{{d.item_code}}" class="form-control" rows="1" placeholder="{{ _('Add notes') }}">{{d.additional_notes or ''}}</input>
                    </div>
                </div>
            </div>
        </div>

        <!-- Qty and Controls Column -->
        <div class="col-12 col-md-3 mb-3 mb-md-0">
            <div class="d-flex align-items-center justify-content-md-end">
                {% set disabled = 'disabled' if d.is_free_item else '' %}
                <div class="input-group number-spinner">
                    <div class="input-group-prepend">
                        <button class="btn cart-btn" data-dir="dwn" {{ disabled }}>
                            {{ '–' if not d.is_free_item else ''}}
                        </button>
                    </div>

                    <input class="form-control text-center cart-qty" value="{{ d.get_formatted('qty') }}" data-item-code="{{ d.item_code }}"
                        style="max-width: 60px;" {{ disabled }}>

                    <div class="input-group-append">
                        <button class="btn cart-btn" data-dir="up" {{ disabled }}>
                            {{ '+' if not d.is_free_item else ''}}
                        </button>
                    </div>
                </div>
                
                {% if not d.is_free_item %}
                    <div class="remove-cart-item ml-2" data-item-code="{{ d.item_code }}">
                        <span style="cursor: pointer;">
                            <svg class="icon sm remove-cart-item-logo" width="18" height="18" viewBox="0 0 18 18">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.146 11.217a.5.5 0 1 0 .708.708l3.182-3.182 3.181 3.182a.5.5 0 1 0 .708-.708l-3.182-3.18 3.182-3.182a.5.5 0 1 0-.708-.708l-3.18 3.181-3.183-3.182a.5.5 0 0 0-.708.708l3.182 3.182-3.182 3.181z" stroke-width="1"></path>
                            </svg>
                        </span>
                    </div>
                {% endif %}
            </div>

            <!-- Rate Change Button (Conditional) -->
            {% if frappe.session.user != "Guest" and company_settings.enable_change_rate_for_cart_item  %}
                <div class="mt-2 text-md-right">
                    <button class="btn btn-outline-primary btn-sm bt-change-rate" data-item-code="{{ d.item_code }}" data-uom="{{ d.uom }}" data-currency="{{ doc.currency }}">
                        {{ _("Change rate") }}
                    </button>
                </div>
            {% endif %}
        </div>

        <!-- Subtotal Column -->
        <div class="col-12 col-md-3 text-right">
            {% if cart_settings.enable_checkout or cart_settings.show_price_in_quotation %}
                <div class="h6 font-weight-bold mb-0">
                    {{ item_subtotal(d) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}