{% set width_class = "expand" if not slides else "" %}
{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}
{% set price_info = product_info.get('price') or {} %}

<div class="col-md-7 product-details {{ width_class }}">
	<div class="d-flex">
		<!-- title -->
		<div class="product-title col-11" itemprop="name">
			{{ _(doc.web_item_name) }}
		</div>

		<!-- Wishlist -->
		{% if cart_settings.enable_wishlist %}
			<div class="like-action-item-fp like-action {{ 'like-action-wished' if wished else ''}} ml-2"
				data-item-code="{{ doc.item_code }}">
				<svg class="icon sm">
					<use class="{{ 'wished' if wished else 'not-wished' }} wish-icon" href="#icon-heart"></use>
				</svg>
			</div>
		{% endif %}
	</div>

	<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
	</div>

	<div itemprop="review" itemscope itemtype="https://schema.org/Review">
	</div>

	<p class="product-code">
		<span class="product-item-group">
			{{ _(doc.item_group) }}
		</span>
		<span class="product-item-code" itemprop="name">
			{{ _("Item Code") }}:
		</span>
		<span itemprop="name">{{ _(doc.item_code) }}</span>
	</p>
	<!-- Offers -->
	{% if doc.offers %}
		<div class="offers-heading mb-4">
			<span class="mr-1 tag-icon">
				<svg class="icon icon-lg"><use href="#icon-tag"></use></svg>
			</span>
			<b>{{ _("Available Offers") }}</b>
		</div>
		<div class="offer-container">
			{% for offer in doc.offers %}
			<div class="mt-2 d-flex">
				<div class="mr-2" >
					<svg width="24" height="24" viewBox="0 0 24 24" stroke="var(--yellow-500)" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19 15.6213C19 15.2235 19.158 14.842 19.4393 14.5607L20.9393 13.0607C21.5251 12.4749 21.5251 11.5251 20.9393 10.9393L19.4393 9.43934C19.158 9.15804 19 8.7765 19 8.37868V6.5C19 5.67157 18.3284 5 17.5 5H15.6213C15.2235 5 14.842 4.84196 14.5607 4.56066L13.0607 3.06066C12.4749 2.47487 11.5251 2.47487 10.9393 3.06066L9.43934 4.56066C9.15804 4.84196 8.7765 5 8.37868 5H6.5C5.67157 5 5 5.67157 5 6.5V8.37868C5 8.7765 4.84196 9.15804 4.56066 9.43934L3.06066 10.9393C2.47487 11.5251 2.47487 12.4749 3.06066 13.0607L4.56066 14.5607C4.84196 14.842 5 15.2235 5 15.6213V17.5C5 18.3284 5.67157 19 6.5 19H8.37868C8.7765 19 9.15804 19.158 9.43934 19.4393L10.9393 20.9393C11.5251 21.5251 12.4749 21.5251 13.0607 20.9393L14.5607 19.4393C14.842 19.158 15.2235 19 15.6213 19H17.5C18.3284 19 19 18.3284 19 17.5V15.6213Z" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M15 9L9 15" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M10.5 9.5C10.5 10.0523 10.0523 10.5 9.5 10.5C8.94772 10.5 8.5 10.0523 8.5 9.5C8.5 8.94772 8.94772 8.5 9.5 8.5C10.0523 8.5 10.5 8.94772 10.5 9.5Z" fill="white" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M15.5 14.5C15.5 15.0523 15.0523 15.5 14.5 15.5C13.9477 15.5 13.5 15.0523 13.5 14.5C13.5 13.9477 13.9477 13.5 14.5 13.5C15.0523 13.5 15.5 13.9477 15.5 14.5Z" fill="white" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>
				<p class="mr-1 mb-1">
					{{ _(offer.offer_title) }}:
					{{ _(offer.offer_subtitle) if offer.offer_subtitle else '' }}
					<a class="offer-details" href="#"
						data-offer-title="{{ offer.offer_title }}" data-offer-id="{{ offer.name }}"
						role="button">
						{{ _("More details") }}
					</a>
				</p>
			</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if has_variants %}
		<!-- configure template -->
		{% include "templates/generators/item/item_configure.html" %}
	{% else %}
		<!-- add variant to cart -->
		{% include "templates/generators/item/item_add_to_cart.html" %}
	{% endif %}
	<!-- description -->
	<div class="product-description" itemprop="description">
	{% if frappe.utils.strip_html(doc.web_long_description or '') %}
		{{ _(doc.web_long_description) | safe }}
	{% elif frappe.utils.strip_html(doc.description or '')  %}
		{{ _(doc.description) | safe }}
	{% else %}
		{{ "" }}
	{% endif  %}
	<!-- 20260403: Add attachment -->
	{% if attachments %}
		<div class="order-item-table">
			<div class="row order-items">
				<div class="col-sm-12 h6">
					{{ _("Attachments") }}
				</div>
				<div class="col-sm-12">
					{% for attachment in attachments %}
						{% if attachment.file_name.lower().endswith(".pdf") %}
							<p class="small">
								<a href="{{ attachment.file_url }}" target="blank"> {{ attachment.file_name }} </a>
							</p>
						{% endif  %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	</div>
</div>

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{% endblock %}

<script>
	$('.page_content').on('click', '.like-action-item-fp', (e) => {
			// Bind action on wishlist button
			const $btn = $(e.currentTarget);
			webshop.webshop.wishlist.wishlist_action($btn);
		});
	$('.page_content').on('click', '.offer-details', (e) => {
			// Bind action on More link in Offers
			const $btn = $(e.currentTarget);
			$btn.prop('disabled', true);

			var d = new frappe.ui.Dialog({
				title: __($btn.data('offer-title')),
				fields: [
					{
						fieldname: 'offer_details',
						fieldtype: 'HTML'
					},
					{
						fieldname: 'section_break',
						fieldtype: 'Section Break'
					}
				]
			});

			frappe.call({
				method: 'webshop.webshop.doctype.website_offer.website_offer.get_offer_details',
				args: {
					offer_id: $btn.data('offer-id')
				},
				callback: (value) => {
					d.set_value("offer_details", value.message);
					d.show();
					$btn.prop('disabled', false);
				}
			})

		});
</script>
