{% if shopping_cart and shopping_cart.cart_settings.enabled %}
{% set cart_settings = shopping_cart.cart_settings %}

<div class="mt-5 mb-6">
	{% if cart_settings.enable_variants | int %}
	<button class="btn btn-primary-light btn-configure font-md mr-2"
		data-item-code="{{ doc.item_code }}"
		data-item-name="{{ doc.web_item_name }}"
	>
		{{ _('Tuỳ chọn') }}
	</button>
	{% endif %}
	{% if cart_settings.show_contact_us_button %}
		{% include "templates/generators/item/item_inquiry.html" %}
	{% endif %}
	<a href="/cart" class="btn btn-view-in-cart mr-2 font-md"
		role="button">
		{{  _("View in Cart") if cart_settings.enable_checkout else _("View in Quote") }}
	</a>
	<a class="btn" href="/cart">
		<svg class="icon icon-lg">
			<use href="#icon-assets"></use>
		</svg>
		<span class="badge badge-primary shopping-badge" id="cart-count"></span>
	</a>
</div>
<script>
{% include "templates/generators/item/item_configure.js" %}
</script>
{% endif %}
